.efor-title-search(
                  search-input
                  inp-placeholder="Buscar Usuario"
                  inp-query-model="mn.query"
                  inp-key-fun="mn.getExample()"
                  inp-enter-fun="mn.getExample()"
                  inp-clear-fun="mn.toDo()"
                  list-model="example_id in mn.objExample"
                  qlist-model="mn.arrExample"
                  list-mdl-icon="account_circle"
                  list-select-fun="mn.clearExampleList()"
                  list-apply-fun="mn.toDo()"
                  )

.efor-title-search(
                  search-input
                  inp-placeholder="Buscar Usuario"
                  inp-query-model="mn.query2"
                  inp-key-fun="mn.getExample()"
                  inp-enter-fun="mn.getExample()"
                  inp-clear-fun="mn.toDo()"
                  list-model="mn.arrExample"
                  qlist-model="mn.arrExample"
                  list-mdl-icon="account_circle"
                  list-select-fun="mn.changeExample(item)"
                  list-apply-fun="mn.toDo()"
                  readonly
                  )

.overflower
  table.mdl-data-table.mdl-shadow--2dp
    thead: tr
      th.mdl-data-table__cell--non-numeric ID
      th.mdl-data-table__cell--non-numeric Name
      th.mdl-data-table__cell--non-numeric Description
      th.mdl-data-table__cell--non-numeric Add by
      th.mdl-data-table__cell--non-numeric Options

    tbody: tr(ng-repeat="item in mn.list")
      td.mdl-data-table__cell--non-numeric {[{ item.example_id }]}
      td.mdl-data-table__cell--non-numeric {[{ item.example_name }]}
      td.mdl-data-table__cell--non-numeric {[{ item.example_description }]}
      td.mdl-data-table__cell--non-numeric {[{ item.added_by.email }]}
      td.mdl-data-table__cell--non-numeric
        button.mdl-button.mdl-js-button.mdl-button--icon(id="item_options_{[{$index}]}")
          i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='item_options_{[{$index}]}')
          li.mdl-menu__item(ng-click="mn.openEditItem(item)") Edit
          li.mdl-menu__item(ng-click="mn.deleteIten(item)") Delete

button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(ng-click="mn.openSaveItem()")
  i.material-icons add